<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Registration Form for ARO Hackathon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Registration Status</h1>
    <p th:text="'Dear ' + ${registrationForm.firstname} + ', Your registration for Azure RedHat OpenShift Hackathon is success.'" />
    <!-- <p th:text="'content: ' + ${greeting.content}" /> -->
    <!-- <a href="/greeting">Submit another message</a> -->
</body>
</html>